<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DynamicMelt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <applicationSettings>
        <DynamicMelt.Properties.Settings>
            <setting name="LooseMdb" serializeAs="String">
                <value>loose.mdb</value>
            </setting>
            <setting name="DatabaseRelativePath" serializeAs="String">
                <value>Database</value>
            </setting>
            <setting name="ParamsMdb" serializeAs="String">
                <value>params.mdb</value>
            </setting>
            <setting name="TeploPhisConstsMdb" serializeAs="String">
                <value>TeploPhisConsts.mdb</value>
            </setting>
            <setting name="MeltDataMdb" serializeAs="String">
                <value>meltdata.mdb</value>
            </setting>
            <setting name="MiscellaneousMdb" serializeAs="String">
                <value>Miscellaneous.mdb</value>
            </setting>
            <setting name="MapsMdb" serializeAs="String">
                <value>Maps.mdb</value>
            </setting>
            <setting name="RaspredelenieMdb" serializeAs="String">
                <value>raspredelenie.mdb</value>
            </setting>
            <setting name="DinamicMdb" serializeAs="String">
                <value>Dinamic.mdb</value>
            </setting>
        </DynamicMelt.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
